extends layout

block content
  table(id='mainTable')
    caption(id='table_caption') Music table

    thead
      tr
        th
          button(class='columnEntry' onclick="sort('name')") Name
        th
          button(class='columnEntry') Album
        th
          button(class='columnEntry' onclick="sort('country')") Country
        th
          button(class='columnEntry' onclick="sort('genre')") Genre
        th
          button(class='columnEntry') Website
    
    tbody
      if error
        Error getting dynamic content.
      else
        script(type='text/javascript').
          jsonObj = !{JSON.stringify(data)}
          
        script(type='text/javascript' src='javascripts/table.js').
        
        script(type='text/javascript').
          displayMusicTable(jsonObj);
          sort('genre');
        
    tfoot

  br

  table(id='tableLegend')
    caption(id='table_caption') Main table legend
    thead
    tbody
      tr
        td
          div(id='square')
        <td>means "already listened to"</td>
    tfoot
        
    
block footer
  a(href='#top') Go to the top