doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav(class='container-fluid')
      block sidebar
        ul(class='sidebar-nav')
          li
            a(href='/') Home
          li
            a(href='/music/create') Add new music

    main
      block content
      
    footer
      block footer