body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
    margin-top: 0px;
    padding: 0;
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #151515;
}

.columnEntry {
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: #151515;
    color: white;
    border: none
}

.columnEntry:focus {
    background-color: #105015;
}

tr {
    height: 30px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover, th:hover {
    background-color: #105015;
    color: white;
}

#table_caption {
    visibility: hidden;
    height: 0px;
}

.icon {
    heigth: 50px;
    width: 50px;
}

.secondListen {
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: solid;
    border-width: big;
    border-color: red;
}

#square {
    width: 4px;
    height: 25px;
    background: red;
}
